<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.CommissionInfoStatisticsMapper">

    <resultMap id="commission_info_statistic_2eb6e6e9_countStatistic0" type="com.kuafu.web.entity.CommissionInfoStatistic2eb6e6e9Count$Statistic0">
        <result property="userInfoUserInfoId3" column="user_info_user_info_id_3"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="commission_info_statistic_715fc2a4_countStatistic0" type="com.kuafu.web.entity.CommissionInfoStatistic715fc2a4Count$Statistic0">
        <result property="userInfoUserInfoId3" column="user_info_user_info_id_3"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="commission_info_statistic_12ffaa16_countStatistic0" type="com.kuafu.web.entity.CommissionInfoStatistic12ffaa16Count$Statistic0">
        <result property="userInfoUserInfoId3" column="user_info_user_info_id_3"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="commission_info_statistic_2eb6e6e9_count" resultMap="commission_info_statistic_2eb6e6e9_countStatistic0">
        select
                ci.user_info_user_info_id_3  
                ,  count(ci.commission_info_id)
 as result_kf
        FROM commission_info ci

        ${ew.customSqlSegment}
        group by 
            ci.user_info_user_info_id_3
    </select>


    <select id="commission_info_statistic_715fc2a4_count" resultMap="commission_info_statistic_715fc2a4_countStatistic0">
        select
                ci.user_info_user_info_id_3  
                ,  count(ci.commission_info_id)
 as result_kf
        FROM commission_info ci

        ${ew.customSqlSegment}
        group by 
            ci.user_info_user_info_id_3
    </select>


    <select id="commission_info_statistic_12ffaa16_count" resultMap="commission_info_statistic_12ffaa16_countStatistic0">
        select
                ci.user_info_user_info_id_3  
                ,  count(ci.commission_info_id)
 as result_kf
        FROM commission_info ci

        ${ew.customSqlSegment}
        group by 
            ci.user_info_user_info_id_3
    </select>



</mapper>
