<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.ProductInfoMapper">

    <resultMap id="selectListNewMap" type="com.kuafu.web.entity.ProductInfo">
            <result property="productInfoId" column="product_info_id"/>
            <result property="productName" column="product_name"/>
            <result property="price" column="price"/>
            <result property="imageResourceKey" column="image_resource_key"/>
            <result property="couponAmount" column="coupon_amount"/>
            <result property="miniProgramPath" column="mini_program_path"/>
            <collection property="image" ofType="com.kuafu.common.domin.StaticResource">
                <id property="resourceId" column="image_resource_id"/>
                <result property="resourceName" column="image_resource_name"/>
                <result property="resourcePath" column="image_resource_path"/>
                <result property="relatedTableName" column="image_related_table_name"/>
                <result property="relatedTableKey" column="image_related_table_key"/>
                <result property="relateTableColumnName" column="image_relate_table_column_name"/>
            </collection>
    </resultMap>


    <select id="selectList" resultMap="selectListNewMap">
        select
            pi.product_info_id   ,
            pi.product_name   ,
            pi.price   ,
            pi.image_resource_key   ,
            pi.coupon_amount   ,
            pi.mini_program_path   
            ,image.resource_id as  image_resource_id
            ,image.resource_name as image_resource_name
            ,image.resource_path as  image_resource_path
            ,image.related_table_name as  image_related_table_name
            ,image.related_table_key as  image_related_table_key
            ,image.relate_table_column_name as image_relate_table_column_name
        FROM product_info pi
            left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='product_info' and relate_table_column_name='image'
        ) as image on image.related_table_key=pi.product_info_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectPage" resultMap="selectListNewMap">
        select
        pi.product_info_id   ,
        pi.product_name   ,
        pi.price   ,
        pi.image_resource_key   ,
        pi.coupon_amount   ,
        pi.mini_program_path   
        ,image.resource_id as  image_resource_id
        ,image.resource_name as image_resource_name
        ,image.resource_path as  image_resource_path
        ,image.related_table_name as  image_related_table_name
        ,image.related_table_key as  image_related_table_key
        ,image.relate_table_column_name as image_relate_table_column_name
        FROM product_info pi
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='product_info' and relate_table_column_name='image'
        ) as image on image.related_table_key=pi.product_info_id

        ${ew.customSqlSegment}
    </select>

    <select id="selectById" resultMap="selectListNewMap">
        select
        pi.product_info_id   ,
        pi.product_name   ,
        pi.price   ,
        pi.image_resource_key   ,
        pi.coupon_amount   ,
        pi.mini_program_path   
        ,image.resource_id as  image_resource_id
        ,image.resource_name as image_resource_name
        ,image.resource_path as  image_resource_path
        ,image.related_table_name as  image_related_table_name
        ,image.related_table_key as  image_related_table_key
        ,image.relate_table_column_name as image_relate_table_column_name
        FROM product_info pi
        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources
        where related_table_name='product_info' and relate_table_column_name='image'
        ) as image on image.related_table_key=pi.product_info_id


        where pi.product_info_id = #{id}
    </select>

</mapper>
