<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.UserInfoStatisticsMapper">

    <resultMap id="user_info_statistic_b8e54625_countStatistic0" type="com.kuafu.web.entity.UserInfoStatisticB8e54625Count$Statistic0">
        <result property="memberLevelId" column="member_level_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="user_info_statistic_d3ee33f0_countStatistic0" type="com.kuafu.web.entity.UserInfoStatisticD3ee33f0Count$Statistic0">
        <result property="memberLevelId" column="member_level_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>
<resultMap id="user_info_statistic_d0fbf2c7_countStatistic0" type="com.kuafu.web.entity.UserInfoStatisticD0fbf2c7Count$Statistic0">
        <result property="memberLevelId" column="member_level_id"/>
        <result property="result_kf" column="result_kf"/>
    </resultMap>



    <select id="user_info_statistic_b8e54625_count" resultMap="user_info_statistic_b8e54625_countStatistic0">
        select
                ui.member_level_id  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.member_level_id
    </select>


    <select id="user_info_statistic_d3ee33f0_count" resultMap="user_info_statistic_d3ee33f0_countStatistic0">
        select
                ui.member_level_id  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.member_level_id
    </select>


    <select id="user_info_statistic_d0fbf2c7_count" resultMap="user_info_statistic_d0fbf2c7_countStatistic0">
        select
                ui.member_level_id  
                ,  count(ui.user_info_id)
 as result_kf
        FROM user_info ui

        ${ew.customSqlSegment}
        group by 
            ui.member_level_id
    </select>



</mapper>
