<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.UserInfoAllMapper">
    <sql id="user_info_list_sql">
        select
        ui.password   ,
        mle.level_name   ,
        ui.member_level_id   ,
        mle.description   ,
        ui.phone_number   ,
        ui.user_info_id   ,
        ui.email   ,
        ui.username   


        FROM user_info ui
        left join member_level_enum mle on ui.member_level_id = mle.member_level_enum_id

        </sql>

        <resultMap id="selectListNewMap" type="com.kuafu.web.entity.UserInfoAll">

        <result property="password" column="password"/>

        <result property="levelName" column="level_name"/>

        <result property="memberLevelId" column="member_level_id"/>

        <result property="description" column="description"/>

        <result property="phoneNumber" column="phone_number"/>

        <result property="userInfoId" column="user_info_id"/>

        <result property="email" column="email"/>

        <result property="username" column="username"/>



                <collection property="avatar" ofType="com.kuafu.common.entity.StaticResource">
                            <id property="resourceId" column="avatar_resource_id"/>
                            <result property="resourceName" column="avatar_resource_name"/>
                            <result property="resourcePath" column="avatar_resource_path"/>
                            <result property="relatedTableName" column="avatar_related_table_name"/>
                            <result property="relatedTableKey" column="avatar_related_table_key"/>
                            <result property="relateTableColumnName" column="avatar_relate_table_column_name"/>
                </collection>

        </resultMap>

<select id="selectListNew"  resultMap="selectListNewMap">
select
ui.password   ,
mle.level_name   ,
ui.member_level_id   ,
mle.description   ,
ui.phone_number   ,
ui.user_info_id   ,
ui.email   ,
ui.username   

        ,avatar.resource_id as  avatar_resource_id
        ,avatar.resource_name as avatar_resource_name
        ,avatar.resource_path as  avatar_resource_path
        ,avatar.related_table_name as  avatar_related_table_name
        ,avatar.related_table_key as  avatar_related_table_key
        ,avatar.relate_table_column_name as avatar_relate_table_column_name


        FROM user_info ui
        left join

        member_level_enum

        mle on ui.member_level_id = mle.member_level_enum_id


        left join
        (select resource_id,
        resource_name,
        resource_path,
        related_table_name,
        related_table_key,
        relate_table_column_name
        from static_resources where related_table_name='user_info' and relate_table_column_name='avatar') as avatar
        on avatar.related_table_key=ui.user_info_id

${ew.customSqlSegment}
        </select>

<select id="selectList" resultType="com.kuafu.web.entity.UserInfoAll">
select
ui.password   ,
mle.level_name   ,
ui.member_level_id   ,
mle.description   ,
ui.phone_number   ,
ui.user_info_id   ,
ui.email   ,
ui.username   


        FROM user_info ui
        left join member_level_enum mle on ui.member_level_id = mle.member_level_enum_id


${ew.customSqlSegment}
        </select>

<select id="selectPage" resultType="com.kuafu.web.entity.UserInfoAll">
select
ui.password  ,
mle.level_name  ,
ui.member_level_id  ,
mle.description  ,
ui.phone_number  ,
ui.user_info_id  ,
ui.email  ,
ui.username  



        FROM user_info ui
        left join member_level_enum mle on ui.member_level_id = mle.member_level_enum_id





${ew.customSqlSegment}
        </select>

<select id="selectById" resultType="com.kuafu.web.entity.UserInfoAll">
select
ui.password  ,
mle.level_name  ,
ui.member_level_id  ,
mle.description  ,
ui.phone_number  ,
ui.user_info_id  ,
ui.email  ,
ui.username  


        FROM user_info ui
        left join member_level_enum mle on ui.member_level_id = mle.member_level_enum_id



        where ui.user_info_id = #{id}
        </select>

<select id="selectCount" resultType="java.lang.Long">
select
count(*)



FROM user_info ui
left join member_level_enum mle on ui.member_level_id = mle.member_level_enum_id



${ew.customSqlSegment}


        </select>

        </mapper>
